<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/micTest" version="1.0.0" viewmodes="maximized">
    <tizen:application id="aHiUzDEevm.micTest" package="aHiUzDEevm" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/media.audio_recording"/>
    <feature name="http://tizen.org/feature/microphone"/>
    <icon src="icon.png"/>
    <name>micTest</name>
    <tizen:privilege name="http://tizen.org/privilege/audiorecorder"/>
    <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="wearable"/>
</widget>
